.about {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

.container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;

  border-radius: 20px;
  padding: 0px;
  margin: 0px;
  background-color: #ffedc693;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.country {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 50px 0 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.location {
  border-left: 1px solid black;
  flex: 1 1 calc(33.33% - 20px);
}

.special-border {
  border-left: 0px solid black;
}

.location ul {
  list-style-position: inside;
  margin: 30px;
}

.text-location {
  padding: 10px 30px 30px 30px;
  text-align: left;
}

.flag {
  width: 20px;
}

@media screen and (max-width: 1024px) {
.location h3 {
  padding: 10px;
}

}

@media screen and (max-width: 376px) {
}
