.about {
  font-size: 1.5rem;
  background-color: #132743;
  padding: 50px;
  color: #ffb5b5;
  text-align: center;
  width: 100%;
  margin: 0;
}

@media only screen and (max-width: 480px) {
  .about {
    font-size: 22px;
    background-color: #132743;
    padding: 30px;
    color: #ffb5b5;
    max-width: 1400px;
    text-align: center;
    margin: 0;
  }
}
