.description-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin:  60px 0;
}

.column-1 {
  flex-basis: 50%;
}

.column-2 {
  flex-basis: 50%;
}

.presentation {
  text-align: center;
}

.Valentina-profile {
  width: 300px;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.description {
  text-align: center;
  font-size: 18px;
  margin: 20px 50px;
}
