.description {
  background-color: #132743;
  color: #ffb5b5;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

.presentation h1 {
  font-size: 45px;
}

.presentation h2 {
  font-size: 40px;
}

.presentation h3 {
  font-size: 35px;
}

.description-container {
  display: flex;
  justify-content: space-around;
  margin: 60px 0;
  align-items: center;
}

.column-1 {
  flex-basis: 50%;
}

.column-2 {
  flex-basis: 50%;
}

.presentation {
  text-align: center;
  padding: 40px;
}

.Valentina-profile {
  width: 450px;
  border-radius: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 480px) {
  /* Estilos específicos para pantallas pequeñas */
  .description {
    width: 100%;
  }

  .description-container {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin: 60px 0;
  }

  .column-1 {
    flex-basis: 100%;
  }

  .column-2 {
    flex-basis: 100%;
  }

  .Valentina-profile {
    width: 70%;
  }
}
