footer {
  background-color: #ffedc6;
  text-align: center;
  padding: 10px;
}

footer a {
  color: #724330;
  font-weight: 500;
}

@media screen and (max-width: 321px) {
  footer {
    font-size: 14px;
  }
}
