.title-knowledge{
  padding-bottom: 30px;
}

.knowledge-section {
  display: flex;
  flex-direction: column;
  align-items: center;
    padding-bottom: 30px;

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 20px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  width: 10rem;
  margin-bottom: 10px;
}