h1, p {
  text-align: center;
}

p {
    padding-top: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.column-1 {
  flex-basis: 50%;
  margin: 10px;
}

.column-2 {
  flex-basis: 50%;
  margin: 10px;
}

img {
  width: 500px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
