.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
  margin: 0 50px;
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.project img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.8s;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.project:hover .project-overlay {
  opacity: 1;
  background-color: #ffedc6;
}

.project-overlay p {
  text-align: center;
  padding: 5px 40px;
  font-size: 16px;
}

.project-overlay a {
  background-color: #fff;
  color: #724330;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  text-decoration: none;
  font-size: 16px;
}

.project-overlay a:hover {
  background-color: #724330;
  color: #fff;
}

@media screen and (max-width: 769px) {
  .projects-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    margin: 0 50px;
  }
}

@media screen and (max-width: 426px) {
  .projects-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    margin: 0 50px;
  }

  .projects-container {
    margin: 0 25px;
  }
}

@media screen and (max-width: 376px) {
  .project-overlay p {
    font-size: 12px;
    padding: 8px;
    margin: 0;
  }

  .project-overlay a {
    font-size: 12px;
  }
}
