.grid-container-social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 30px;
}

.grid-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-icons {
  width: 60px;
  height: 60px;
  margin: 10px;
    transition: transform 0.2s ease-in-out;

}

.social-icons:hover {
  transform: scale(1.2);
}